.category-page{
    width: 100%;
    min-height: 100vh;
    height: auto;
    padding: 50px 200px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    animation: fadeIn 2s forwards;
}

.category-page h1{
    color: #1A2A44;
    font-size: 36px;
}

.categories-books-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 40px;
    justify-content: center;
}

.categories-book-card{
    width: max-content;
    height: max-content;
    padding: 15px;
    display: flex;
    flex-direction: column;
    background-color: #D1F8EF;
    border-radius: 10px;
    gap: 10px;
    justify-content: center;
    align-items: center;
    border: 2px solid #3674B5 ;
}

.cate-book-img{
    width: 200px;
    height: 250px;
    border-radius: 5px;
}

.read-btn{
    padding: 8px 10px;
    background-color: #3674B5;
    color: white;
    border: none;
    font-size: 16px;
    font-family: 'Merriweather';
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

span{
    color:#3674B5 ;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 100%;
    }
  }
