.book-details {
    width: 100%;
    min-height: 100vh;
    height: auto;
    padding: 50px 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 1s forwards;
}

.book-details-card {
    width: 100%;
    height: max-content;
    display: flex;
    gap: 85px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.bd-img {
    width: 30%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
}

.bd-img img {
    width: 400px;
    height: 100%;
    object-fit: cover;
}


.bd-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 70%;
    height: max-content;
    justify-content: center;
}

.gap{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

@keyframes fadeIn {
    0% {
      opacity: 0.5;
    }
    100% {
      opacity: 100%;
    }
  }


  @media (max-width: 1730px) {
    .book-details {
        padding: 50px 150px;
    }
}

@media (max-width: 1620px) {
    .book-details {
        padding: 50px 100px;
    }
}

@media (max-width: 1410px) {
    .book-details {
        padding: 50px 70px;
    }
}

@media (max-width: 1200px){
    .book-details-card{
        flex-direction: column;
    }
    .bd-img{
        width: 100%;
    }
    .bd-content{
        width: 100%;
    }
}

@media (max-width: 710px) {
    .book-details {
        padding: 50px 40px;
    }
    .book-details-card{
        gap: 40px;
    }
}

@media (max-width: 445px) {
    .book-details {
        padding: 50px 20px;
    }
}

@media (max-width: 410px) {
    
}