.searched-books-page{
    padding: 50px 200px;
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.wrapper h1{
    color: #1A2A44;
    font-size: 36px;
}

.wrapper{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    width: 100%;
    min-height: 90vh;
    height: auto;
}

.searchedBooks-list{
    width: 100%;
    min-height: 90vh;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.searchedBooks-list .book-card{
    transform: translateY(0);
}

@media (max-width: 1730px){
    .searched-books-page{
        padding: 50px 150px;
    }
}

@media (max-width: 1620px){
    .searched-books-page{
        padding: 50px 100px;
    }
}

@media (max-width: 1410px){
    .searched-books-page{
        padding: 50px 70px;
    }
}

@media (max-width: 710px){
    .searched-books-page h1{
        font-size: 26px;
    }
    .searched-books-page{
        padding: 50px 40px;
    }
}

@media (max-width: 445px){
    .searched-books-page{
        padding: 50px 20px;
    }
}

@media (max-width: 410px) {
    .searchedBooks-list{
        gap: 25px;
    }
}