.books{
    width: 100%;
    min-height: 50vh;
    height: auto;
    padding: 100px 200px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.books h1{
    color: #1A2A44;
    font-size: 36px;
}

.books-container{
    width: 100%;
    min-height: 60vh;
    height: auto;
    display: flex;
    gap: 40px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    transition: 0.5s all ease linear;
}


.appeared{
    animation: slideUp 0.5s forwards;
}

@keyframes slideUp {
    0%{
        transform: translateY(100px);
    }
    100%{
        transform: translateY(0);
    }
}

@media (max-width: 1730px){
    .books{
        padding: 100px 150px;
    }
}

@media (max-width: 1620px){
    .books{
        padding: 100px 100px;
    }
}

@media (max-width: 1410px){
    .books{
        padding: 100px 70px;
    }
}

@media (max-width: 710px){
    .books{
        padding: 100px 40px;
    }

    .books h1{
        font-size: 25px;
        text-align: center;
    }

    .book-card{
        transform: translateY(0);
    }

    .book-img{
        width: 130px;
        height: 150px;
    }

    .read-btn{
        font-size: 14px;
    }
}

@media (max-width: 445px){
    .books{
        padding: 100px 20px;
    }
}

@media (max-width: 410px){
    .books-container{
        gap: 25px;
    }
    .book-card{
        padding: 10px;
    }
    .read-btn{
        padding: 7px 7px;
        font-size: 12px;
    }
    .book-img{
        width: 95px;
        height: 100px
    }
}